/* main.css */

header a img {
    width: 100px; /* Ajusta el ancho según tus preferencias */
    height: auto; /* Esto mantiene la proporción original */
    margin-right: 20px; /* Espaciado entre el logo y otros elementos en el header */
    filter: invert(1);
}
h1 {
  text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0; /* Elimina el margen predeterminado del encabezado */
    font-size: 2em;
    color: #ffffff;
}

nav {
    background-color: #444;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.active {
    background-color: #686868;
    color: white;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
}

.evento {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
}

.evento img {
    width: 300px;
    height: 200px;
}

.exhibition {
    display: flex;
    margin-bottom: 20px;
}

.exhibition img {
    width: 300px;
    height: 200px;
    margin-right: 15px;
}

.exhibition-info {
    flex-grow: 1;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #f1ecec;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea tres columnas con igual anchura */
    gap: 10px; /* Espacio entre las imágenes */
}

.image-grid img {
    width: 100%; /* Hace que las imágenes se expandan para llenar su celda */
    height: auto; /* Mantiene la proporción de las imágenes */
}
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  header p {
    font-size: 1.5em;
    color: #666;
  }
  
  .date-location p {
    font-size: 1em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .exhibition-image {
    flex: 1;
    /* Asegúrate de que la imagen no se estire más de su tamaño original */
    max-width: 50%; /* o el porcentaje que prefieras */
  }

  .exhibition-image img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .exhibition-image p {
    font-size: 0.9em;
    color: #333;
  }

  .content {
    display: flex;
    align-items: center; /* Alinea verticalmente si deseas */
    justify-content: space-between; /* Ajusta según necesites */
  }

  .text-content {
    flex: 1;
    padding-left: 20px; /* Añade algo de espacio entre la imagen y el texto */
  }

#about-page {
    max-width: 800px;
    margin: 0 auto;
}
#about-page img {
    max-width: 100%;
    height: auto;
}

#contact-page {
    max-width: 800px;
    margin: 0 auto;
}
form {
    display: grid;
    gap: 10px;
}
form label {
    display: block;
    font-weight: bold;
}
form textarea {
    resize: vertical;
}

#event-image {
    position: relative;
    width: 100%;
    height: 150px; /* Ajusta esta altura según tus necesidades */
    overflow: hidden;
}

#event-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto asegura que la imagen cubra completamente el área sin distorsionarse */
}

#welcome-event {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2; /* Asegura que el texto se mantenga encima de la superposición */
}

.mi-enlace, .mi-enlace:link, .mi-enlace:visited, .mi-enlace:hover, .mi-enlace:active {
    color: inherit; /* Hereda el color del elemento padre */
    text-decoration: none; /* Opcional: elimina el subrayado */
}



