/* styles.css */

header a img {
    width: 100px; /* Ajusta el ancho según tus preferencias */
    height: auto; /* Esto mantiene la proporción original */
    margin-right: 20px; /* Espaciado entre el logo y otros elementos en el header */
    filter: invert(1);
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    display: flex;
    align-items: center;
}

#logo {
    margin-right: 20px; /* Espaciado entre el logo y el título */
}

header h1 {
    margin: 0; /* Elimina el margen predeterminado del encabezado */
}

nav {
    background-color: #444;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
